* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(175, 133, 5);
    color: white;
}

fieldset {
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    border: 1px solid rgb(41, 41, 41);
    display: grid;
    gap: 0.5rem;
}

input,
textarea {
    background-color: rgb(114, 83, 5);
    border: none;
    padding: 0.4rem;
    border-radius: 0.5rem;
    outline: none;
    color: white;
}

input:focus,
textarea:focus {
    box-shadow: 1px 1px 10px 5px rgba(225, 94, 0, 0.386);
}

fieldset>button {
    background-color: rgba(96, 0, 0, 0.467);
    padding: 0.5;
    color: white;
    border-radius: 1rem;
    font-size: 1.8rem;
}

.menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 17rem;
    gap: 1rem;
    padding: 1rem;
}

.card {
    height: 100%;
    width: 16rem;
    background-color: rgba(44, 2, 2, 0.543);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 1rem;
    margin: 1rem;
    align-items: center;
    padding: 0.5rem;
    box-shadow: 1px 1px 10px 5px rgb(28, 1, 1)
}

.card>img {
    height: 60%;
    object-fit: cover;
    width: 100%;
    border-radius: 1rem;
}

.card>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    height: 10%;
    width: 100%;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    gap: 1.5rem;
}

.card>p {
    height: 10%;
    padding: 0.5rem;
    width: 90%;
}

.card>button {
    width: 40%;
    background-color: red;
    padding: 1rem;
    border-radius: 1.3rem;
    border: none;
    color: white;
    padding: .3rem;
}

.card>button:hover {
    background-color: rgba(1, 2, 4, 0.5);
    cursor: pointer;
}